<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  <div class="form-container" id="delete-inventory-form-container">
    <form action="/inv/delete" method="POST">
        <div class="form-group">
            <label for="inv_make">Make</label>
            <input type="text" name="inv_make" id="inv_make" value="<%= locals.inv_make %>" required readonly>
        </div>
        <div class="form-group">
            <label for="inv_model">Model</label>
            <input type="text" name="inv_model" id="inv_model" value="<%= locals.inv_model %>" required readonly>
        </div>
        <div class="form-group">
            <label for="inv_price">Price</label>
            <input type="number" name="inv_price" id="inv_price" value="<%= locals.inv_price %>" required readonly>
        </div>
        <div class="form-group">
            <label for="inv_year">Year</label>
            <input type="number" name="inv_year" id="inv_year" value="<%= locals.inv_year %>" required readonly>
        </div>
        <p>Confirm Deletion? - The delete is permanent.</p>
        <button type="submit">Delete Vehicle</button>
        <a href="/inv/" class="cancel-link">Cancel</a>
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
    </form>
  </div>