<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  <div class="form-container" id="edit-inventory-form-container">
    <form action="/inv/edit" method="POST" id="updateForm">
        <div class="form-group">
            <label for="classificationList">Classification</label>
            <%- classificationList %>
        </div>
        <div class="form-group">
            <label for="inv_make">Make</label>
            <input type="text" name="inv_make" id="inv_make" value="<%= locals.inv_make %>" required>
        </div>
        <div class="form-group">
            <label for="inv_model">Model</label>
            <input type="text" name="inv_model" id="inv_model" value="<%= locals.inv_model %>" required>
        </div>
        <div class="form-group">
            <label for="inv_description">Description</label>
            <textarea name="inv_description" id="inv_description" required><%= locals.inv_description %></textarea>
        </div>
        <div class="form-group">
            <label for="inv_image">Image Path</label>
            <input type="text" name="inv_image" id="inv_image" value="/images/vehicles/no-image.png" required>
        </div>
        <div class="form-group">
            <label for="inv_thumbnail">Thumbnail Path</label>
            <input type="text" name="inv_thumbnail" id="inv_thumbnail" value="/images/vehicles/no-image-tn.png" required>
        </div>
        <div class="form-group">
            <label for="inv_price">Price</label>
            <input type="number" name="inv_price" id="inv_price" value="<%= locals.inv_price %>" required>
        </div>
        <div class="form-group">
            <label for="inv_year">Year</label>
            <input type="number" name="inv_year" id="inv_year" value="<%= locals.inv_year %>" required>
        </div>
        <div class="form-group">
            <label for="inv_miles">Miles</label>
            <input type="number" name="inv_miles" id="inv_miles" value="<%= locals.inv_miles %>" required>
        </div>
        <div class="form-group">
            <label for="inv_color">Color</label>
            <input type="text" name="inv_color" id="inv_color" value="<%= locals.inv_color %>" required>
        </div>
        <button type="submit" >Update Vehicle</button>
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
    </form>
  </div>
  <script src="/js/inv-update.js"></script>